.App {
  font-family: sans-serif;
  text-align: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.product {
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  padding: 1rem;
}

.product img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.product h3 {
  margin: 0 0 1rem;
}

.product p {
  margin: 0 0 1rem;
}

.country-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.country {
  background-color: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  padding: 1rem;
}

.country img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.country h3 {
  margin: 0 0 1rem;
}

.country p {
  margin: 0 0 1rem;
}
